<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booting</title>

    <style>
        html, body {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>no mc boot</h1>
    <script>
        // Function to check the backend if a redirect is needed
        function checkTrigger() {
            fetch('/check_boot_trigger')
                .then(response => response.json())
                .then(data => {
                    if (data.mc_boot) {
                        window.location.href = '/';
                    }
                })
                .catch(error => console.error('Error checking trigger:', error));
        }

        // Poll the backend every second to check for the trigger
        setInterval(checkTrigger, 1000);  // Check every second
    </script>
</body>
</html>