<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booting</title>

    <style>
        html, body {
            background-color: black;
            color: white;
            overflow: hidden;
        }

        video {
            width: 100%;
            max-height: 100vh;
        }
    </style>
</head>
<body>
    <div id="id-floppy" class="container">
        <video id="fullscreen-video" autoplay loop muted>
            <source id="video-source" src="{{ url_for('static', filename='vids/no_boot.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <script>
        // Function to check the backend if a redirect is needed
        function checkTrigger() {
            fetch('/check_boot_trigger')
                .then(response => response.json())
                .then(data => {
                    if (data.mc_boot) {
                        window.location.href = '/';
                    }
                })
                .catch(error => console.error('Error checking trigger:', error));
        }

        // Poll the backend every second to check for the trigger
        setInterval(checkTrigger, 1000);  // Check every second
    </script>
</body>
</html>