{% extends 'layout.html' %}

{% block head %}
    <style>
        th, td {
            padding: 25px;
        }

        .blinking {
            -webkit-animation: blink-effect 1s infinite; /* Safari 4+ */
            -moz-animation: blink-effect 1s infinite; /* Fx 5+ */
            -o-animation: blink-effect 1s infinite; /* Opera 12+ */
            animation: blink-effect 1s infinite; /* IE 10+, Fx 29+ */
        }

        @-webkit-keyframes blink-effect {
            0%, 49% {
                color: yellow;
                border: 3px solid red;
            }
            50%, 100% {
                color: red;
                border: 3px solid yellow;
            }
        }

        .bg-red {
            background-color: red !important;
        }

        .bg-green {
            background-color: green !important;
        }

        .version-title,
        .version-status {
            font-size: 1.5em;
            line-height: 2rem;
            margin: 0;
            position: relative;
            color: #DDDDDD;
            background: #212121;
            border-radius: 3px;
            overflow: hidden;
            white-space: nowrap;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 -1px 2px rgba(0, 0, 0, 0.5), inset 0 3px 5px rgba(0, 0, 0, 0.6);
        }

        .sample-status-cell {
            font-size: 1.5em;
            line-height: 2rem;
            margin: 0;
            position: relative;
            color: #DDDDDD;
            background: #212121;
            border-radius: 3px;
            overflow: hidden;
            white-space: nowrap;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 -1px 2px rgba(0, 0, 0, 0.5), inset 0 3px 5px rgba(0, 0, 0, 0.6);
        }

        .version-title svg,
        .version-status svg {
            fill: #8D8D8D;
            vertical-align: middle;
            position: relative;
            top: -2px;
        }

        .version-title::after,
        .version-status::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: rgba(0, 0, 0, 0.5);
            pointer-events: none;
            border-bottom: 1px solid black;
            opacity: 0.33;
        }

        @media (max-width: 600px) {
            .version-title,
            .version-status {
                font-size: 1.2rem;
            }
        }

        .version-status {
            font-weight: bold;
            color: #B4D3E7;
            text-align: center;
        }

    </style>

    <script type="text/javascript">
        function setSampleStatus(samples) {
            let sampleIndex = "";
            for (const sample of samples) {
                sampleIndex = sample.name.at(-1);
                if (sample.status === "blocked") {
                    $('#sample-status-' + sampleIndex).html('<i class="fas fa-lock"></i>');
                } else if (sample.status === "locked") {
                    $('#sample-status-' + sampleIndex).html('<i class="fas fa-lock-open"></i>');
                    //$("#sample-t1-" + sampleIndex).html(sample.status);
                    $("#sample-t1-" + sampleIndex).addClass("blinking");
                } else if (sample.status === "unlocked") {
                    $('#sample-status-' + sampleIndex).html('<i class="fas fa-lock-open"></i>');
                    $("#sample-t1-" + sampleIndex).removeClass("bg-red blinking");
                    $("#sample-t1-" + sampleIndex).css("background-color", "green");
                    $("#sample-t2-" + sampleIndex).addClass("blinking");
                    //$("#sample-t2-" + sampleIndex).html(sample.status);
                    //$("#sample-t1-" + sampleIndex).html("");
                } else if (sample.status === "released") {
                    $('#sample-status-' + sampleIndex).html(`<i class="${sample.icon}"></i>`);
                    $('#sample-dispense-' + sampleIndex).css("padding", "0");
                    $('#sample-dispense-' + sampleIndex).html(
                        `<img alt="released" height="75px" width="75px"
                        src="{{ url_for('static', filename="imgs/petri-dish.png") }}">`);
                    $(".sample-" + sampleIndex).removeClass("blinking");
                    $(".sample-" + sampleIndex).addClass("bg-green");
                    //$("#sample-dispense-" + sampleIndex).html(sample.status);
                    //$("#sample-t2-" + sampleIndex).html("");
                    //$("#sample-t1-" + sampleIndex).html("");
                }
            }
        }

        socket.on('samples_updates', function (samples) {
            setSampleStatus(samples);
        })
    </script>
{% endblock %}

{% block content %}
    <table class="m-auto">
        <thead>
        <tr>
            <th class="version-title d-block invisible">
                NAME
            </th>
            <th class="version-status invisible">
                STATUS
            </th>
            <th class="version-title" id="gas-control-title">
                Gas Control T1
            </th>
            <th class="version-title" id="nano-constructor-title">
                NANO-constructor T2
            </th>
            <th class="version-title">
                Dispenser
            </th>
        </tr>
        </thead>
        <tbody>
        {% for sample in g_config.samples %}
            <tr>
                <td class="version-title d-block">
                    {{ sample.name }}
                </td>
                <td class="version-status" id="sample-status-{{ loop.index }}"
                    data-mdb-toggle="tooltip" title="status {{ sample.status }}">
                </td>
                <td class="sample-{{ loop.index }} sample-status-cell bg-red" id="sample-t1-{{ loop.index }}">
                </td>
                <td class="sample-{{ loop.index }} sample-status-cell bg-red" id="sample-t2-{{ loop.index }}">
                </td>
                <td class="version-status" id="sample-dispense-{{ loop.index }}">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block add_js %}
    <script type="text/javascript">
        setSampleStatus(JSON.parse('{{ g_config.samples|tojson }}'));
    </script>
{% endblock %}