.k-top {
    color: black;
    text-align: center;
    font-size: 5em;
    padding-inline: 50px;
}

.k-keypad {
    min-width: 400px;
    width: 0%;
    background-color: gray;
    margin: 100px auto auto;
    overflow: hidden;
    /* to prevent margin collapse */
}

.k-keypad .k-screen {
    height: 70px;
    margin: 1%;
    padding: 1% 2%;
    background-color: #E1E5EE;
    font-size: 3em;
    letter-spacing: .4em;
    line-height: 65px;
    text-align: center;
}

.k-keypad .k-screen.success {
    background-color: #7AC74F;
    border: 2px solid #A1CF6B;
}

.k-keypad .k-screen.failed {
    background-color: #E0C879;
    border: 2px solid #E87461;
}

.k-keypad .k-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.k-keypad button {
    background-color: #ccc;
    box-sizing: border-box;
    width: 30%;
    margin: .7% 1.65%;
    height: 60px;
    font-size: 1.7em;
}

#lang-box {
    visibility: hidden;
}