<div class="col">
    <div id="control.id" class="card h-100 pt-2 bg-image">
        <img style="width: 180px; border-radius: 10px;"
             src="control.image" class="avatar mx-auto"
             alt="Control Button"/>

        <div class="card-body">
            <h5 class="card-title">control.title </h5>
            <p class="card-text" style="display: none;">
                control.details
            </p>
            <a id="a_control.id" href="control.link" class="stretched-link"></a>
        </div>
    </div>
</div>