<main class="dd-game" id="dd-game-{{ gameID }}">
    <section class="score" id="score-{{ gameID }}">
        <span class="correct d-none">0</span>
        <span class="total d-none">0</span>
    </section>
    <button class="resetBtn" id="reset-btn-{{ gameID }}" name="{{ gameID }}" onclick="resetBtnClick(name)">reset
    </button>
    <button class="submitBtn" id="submit-btn-{{ gameID }}" name="{{ gameID }}" onclick="submitBtnClick(name)">submit
    </button>
    <!-- Will be dynamically populated - Example Element: -->
    <!-- <i class="fab fa-codepen draggable" draggable="true" style="color: #111111;" id="codepen"></i> -->
    <section class="draggable-items" id="draggable-items-{{ gameID }}">
    </section>

    <!-- Will be dynamically populated - Example Element: -->
    <!-- <div class="matching-pair">
      <span class="label">Codepen</span><span class="droppable" data-brand="codepen"></span>
    </div> -->
    <section class="matching-pairs" id="matching-pairs-{{ gameID }}">
    </section>
</main>

<script type="text/javascript">
    /*  Takes different actions based on buttons pushed and checks for the correct
     *  length and password entered
     */
    // Length of items
    correct["{{ gameID }}"] = 0;

    // What the user has entered
    total["{{ gameID }}"] = 0;
    itemsList.push([]);

    /* Event Listener on page load
     */
    initiateGame("{{ gameID }}", {{ elements }})
</script>